<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/nav.ejs')%>

            <div class="about contetn">
                <h2>About Us</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsam beatae cumque rem temporibus
                    delectus
                    est reprehenderit. Tempore labore laudantium beatae commodi quibusdam fugiat quasi tenetur dicta.
                    Doloribus,
                    itaque voluptates.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsam beatae cumque rem temporibus
                    delectus
                    est reprehenderit. Tempore labore laudantium beatae commodi quibusdam fugiat quasi tenetur dicta.
                    Doloribus,
                    itaque voluptates.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsam beatae cumque rem temporibus
                    delectus
                    est reprehenderit. Tempore labore laudantium beatae commodi quibusdam fugiat quasi tenetur dicta.
                    Doloribus,
                    itaque voluptates.</p>

            </div>
    </body>

</html>